body, header, ul, article, h1{
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background: inherit;

  margin: 0;
  padding: 0;
}
.Tab, .Clock, .Weather{
  margin:20px;
  width: 40%;

}


.Tab > ul{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  width: 100%;
}

.Tab > ul > h1 {
  font-size: 14px;
  border: 1px solid grey;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: none;
  width: 33%;
  background-color: #789db4;
}

.Tab > article {
  height: 100px;
  background-color: cornflowerblue;
  border: 2px solid grey;
}


/*clock*/
.Clock{
  text-align: center;
  background-color: grey;
}

.Clock < h1{
  background-color: pink;
  font-family: fantasy;
}

.Weather {
  background-color: cornflowerblue;

}
